$primary: #6C95FF;
$dark: #2D2D2D;
$muted: #999999;
$white: #FFFFFF;

$theme-colors: (
  "primary": $primary,
  "dark": $dark
);

* {
  user-select: none;
}

html, body, #root {
  overflow-x: hidden;
  height: 100vh;
}

.progress-slider {
  appearance: none;
  background-color: $muted;
  overflow: hidden;

  &::-webkit-slider-thumb {
    appearance: none;
    background-color: $dark;
    box-shadow: -100vw 0 0 100vw $primary;
    height: 10px;
    width: 10px;
  }
}

.song-container {
  &:hover {
    background-color: $primary;
    cursor: pointer;
  }

  &.current-song {

  }
}

.player-control {
  color: $muted;

  &:hover {
    color: $white;
    cursor: pointer;
  }
}

@import "~bootstrap/scss/bootstrap";
