$primary: #6C95FF;
$dark: #2D2D2D;
$muted: #999999;
$white: #FFFFFF;
$hover: #DADADA;

$theme-colors: (
  "primary": $primary,
  "dark": $dark,
  "muted": $muted
);

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('./fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('./fonts/Roboto-Bold.ttf');
}

* {
  font-family: 'Roboto';
  user-select: none;
}

html, body, #root {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.progress-slider {
  appearance: none;
  background-color: $muted;
  overflow: hidden;

  &::-webkit-slider-thumb {
    appearance: none;
    background-color: $hover;
    box-shadow: -100vw 0 0 100vw $primary;
    height: 10px;
    width: 10px;
  }
}

.song-container {
  &:hover {
    background-color: $hover;
    cursor: pointer;
  }
}

.player-control {
  color: $muted;

  &:hover {
    color: $white;
    cursor: pointer;
  }

  &.active {
    color: $white;
  }
}

.no-cover {
  color: $muted;
  border: 1px solid $muted;
  height: 70px;
  width: 70px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  .menu-item {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 1050;

    &:hover {
      cursor: pointer;
      background-color: $primary;

      > .submenu {
        display: block;
      }
    }

    .submenu {
      background-color: $dark;
      display: none;
      left: 0;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 100%;

      .submenu-item {
        white-space: nowrap;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}

.search-box-container {
  .search-box {
    border-style: solid;
    outline-color: $primary;
  }
}

@import "~bootstrap/scss/bootstrap";
